@{ 
//Layout = "/Areas/Identity/Pages/_Layout.cshtml";
Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:30px;">Manage your account</h2>


    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
