@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


    <div class="page-info-section set-bg" data-setbg="/img/page-bg/1.jpg" style="width: 1346px;
        margin-left: -120px;
        height: 180px;
        margin-top: 0px;">
    </div>
<header style="margin-top:30px;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
