@model AcademicApplication.Areas.Admin.ViewModels.CourseCreateViewModel

@{
    Layout = null;
}




<div class="m-1 p-2" style="margin-top:-33px;margin-left:700px;">
    <form asp-area="Admin" asp-controller="CourseList" asp-action="Index" method="get" class="form-inline">
        <label class="m-1">Search:</label>
        <label asp-for="@Model.CourseId" class="col-form-label">Course Title</label>
        <select asp-for="@Model.CourseId" class="form-control" asp-items="@Model.courses">
            <option>Select From List</option>
        </select>
        <button class="btn btn-success m-1">Search</button>
    </form>
</div>