@model AcademicApplication.Areas.Admin.ViewModels.CourseCreateViewModel

@{
    Layout = null;
}




<div class="m-1 p-2" style="margin-top:50px;margin-left:200px;">
    <form asp-area="Admin" asp-controller="CourseList" asp-action="Index" method="get" class="form-inline">
        <label class="m-1">Search:</label>
            <label asp-for="@Model.SubjectId" class="col-form-label">Subject</label>
            <select asp-for="@Model.SubjectId" class="form-control" asp-items="@Model.Subjects" >
                <option>Select From List</option>
            </select>
          
        <label class="m-1"> Price:</label>
        <input class="form-control" name="price" asp-for="@Model.Price" />
        <button class="btn btn-primary m-1">Filter</button>
    </form>
</div>