@model AcademicApplication.Areas.Admin.ViewModels.AppRoleCreateViewModel


@{
    ViewData["Title"] = "RoleCreate";
}




<section class="content-header">
    <h1>
        Course Create
        <small>Form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Course Create</li>
    </ol>
</section>

<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" asp-area="Admin" asp-controller="AppRole" asp-action="RoleCreate"
          method="post" id="FormCreate">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger small text-uppercase" })

        <div class="box-body">
            <div class="form-group" style="margin-left:10px;">
                <label asp-for="Name" for="exampleInputEmail1">Enter Course Title</label>
                <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Title">
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="form-group" style="margin-left:20px;">
            <label asp-for="Description" for="exampleInputEmail1">Enter Course Description</label>
            <textarea asp-for="Description" type="text" id="Description" class="form-control" placeholder="Description" rows="5"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-group" style="margin-left:20px;">
            <label asp-for="Created">Adding Date</label>
            <input asp-for="Created" type="date" name="bday" min="1000-01-01"
                   max="3000-12-31" class="form-control">
            <span asp-validation-for="Created"></span>
        </div>

        <!-- /.box-body -->

        <div class="box-footer" style="margin-left:10px;">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>

    
</div>




